blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
ibm-cloud-sdk-core==3.22.0
ibm-cos-sdk==2.13.6
ibm-cos-sdk-core==2.13.6
ibm-cos-sdk-s3transfer==2.13.6
ibm-watson==8.1.0
ibm_watson_machine_learning==1.0.364
idna==3.10
importlib_metadata==8.5.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
lomond==0.3.3
MarkupSafe==3.0.1
numpy==1.26.4
packaging==24.1
paho-mqtt==1.6.1
pandas==2.1.4
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.2
requests-toolbelt==1.0.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
tabulate==0.9.0
threadpoolctl==3.5.0
tzdata==2024.2
urllib3==2.2.3
websocket-client==1.8.0
Werkzeug==3.0.4
wiotp-sdk==1.0.1
zipp==3.20.2
